.product-detail-container {
    padding: 1rem 5%;
}

.product-info {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}

h2.product-price {
    opacity: 0.5;
}

.product-info-left,
.product-info-right {
    flex: 1;
    padding: 2rem;
}

.product-image {
    width: 484px;
    max-width: 484px;
    height: 272px;
    max-height: 272px;

}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}


.product-info-right {
    padding-top: 4rem;
}

.product-info-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.addToCart-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

button.btn.btn-success.addToCart-btn {
    background: black;
    color: #ffd700;
    padding: 1rem;
}

input#quantityInput {
    padding: 0.8rem;
    border-radius: var(--border-radius-md);
    min-width: 100px;
}

@media (max-width: 1145px) {
    .product-info-right {
        padding: 2rem;
    }

    .product-info {
        width: 100%;
    }

}

@media (max-width:810px) {

    .product-info-left,
    .product-info-right {
        padding: 1rem;
    }

    .product-image {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* Optionally set a fixed height for consistent aspect ratio */
        min-height: 250px;
        max-height: 400px;
        overflow: hidden;
    }

    .product-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    p.product-description {
        font-size: small;
    }

}

@media(max-width:630px) {
    .product-info {
        flex-direction: column;
        align-items: center;
    }

    .product-info-left,
    .product-info-right {
        width: 100%;
        padding: 1rem;
        gap: 1rem;
    }

    .product-info-right {
        padding-top: 2rem;
    }

    .addToCart-container {

        align-items: center;
        gap: 1rem;
    }
}