.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/image.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.banner-content {
    text-align: center;
}

.banner-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.title {
    font-size: 1.1rem;
}

.title a {
    color: #ffd700;
    text-decoration: none;
}

.title span {
    margin: 0 10px;
}





.mid-section {

    /* margin: 0 auto;

    color: white;*/
    padding: 80px 0;


}

.mid-content {
    width: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-rows: 170px 1fr;

    align-items: center;
    justify-items: center;

    text-align: center;
    min-width: 327px;
    min-height: 364px;
    gap: 1rem;
}

.mid-image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}

.mid-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mid-info h2 {
    color: black;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 400;
}



.mid-info .description {
    color: black;
    font-size: 1rem;
    line-height: 1.8;
}

.midbtn {
    background-color: #ffd700 !important;
    color: #222 !important;

    padding: 0.8rem 1.5rem;
    margin-top: 1rem;
    width: 100px !important;

}

.okbtn {
    width: 90%;
    height: 52px;
    padding: 0 14px;
}

button.btn.btn-success.ok {
    width: 100%;
    height: 50px;
    background: black;
    color: #ffd700;
}